/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    body {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
    }

    h1 {
        @apply font-semibold text-4xl text-primary-900 font-semibold;
    }

    h5 {
        @apply py-5 font-medium text-xl;
    }

    .list-group-item {
        @apply block w-full p-2 border-x border-b first:border-t first:rounded-t-lg last:rounded-b-lg border-slate-300;
    }

    .btn {
        @apply font-medium rounded pt-1 pb-2 px-4 transition duration-300;
    }

    .btn-primary {
        @apply bg-primary-800 text-white hover:bg-primary-950 disabled:bg-primary-100;
    }

    .btn-secondary {
        @apply bg-secondary-200 hover:bg-secondary-400 disabled:bg-gray-50 hover:disabled:bg-gray-50;
    }

    .table-action {
        tbody tr {
            @apply cursor-pointer hover:bg-slate-50;
        }
    }

    table {
        @apply w-full font-sans border-y rounded-lg;

        thead {
            @apply font-medium border-b bg-slate-100;
        }

        tr {
            @apply border-x border-b first:border-t-0 last:border-b-0 border-slate-300;
        }

        td {
            @apply p-2 min-w-min;
        }
    }

}